<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gogos.tourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PyramidsActivity"
            android:label="Pyramids" />
        <activity
            android:name=".TempleOfPhilaeActivity"
            android:label="Temple Of Philae" />
        <activity
            android:name=".EgyptianMuseumActivity"
            android:label="Egyptian Museum" />
        <activity
            android:name=".TempleOfKarnakActivity"
            android:label="Temple Of Karnak" />
    </application>

</manifest>